<!--<h1> Choose Your Destiny: </h1>-->

<!--<div>-->
  <!--YOUR ITEMS:-->
<!--</div>-->

<!--<div>-->
  <!--<button (click)="confirmSelection()">-->
    <!--Okays!-->
  <!--</button>-->
<!--</div>-->
