<div class="header container row">
  <div class="column oneThird">
    <div class="row" style="height: 37px;"></div>
    <div class="container row">
      <div class="column oneFifth pageTab">
        <a routerLink="/Home">Home</a>
      </div>
      <div class="column oneFifth pageTab">
        <a routerLink="/Bananas">Bananas</a>
      </div>
      <div class="column oneFifth pageTab">
        <a routerLink="/Kiwis">Kiwi</a>
      </div>
      <div class="column oneFifth pageTab">
        <a routerLink="/Apples">Apples</a>
      </div>
    </div>
  </div>
  <div class="column oneThird">
    <h1>Our Grocery Store</h1>
  </div>
  <div class="column oneThird">
    <app-cart></app-cart>
  </div>
</div>
