<!--<div (click)="getCartTotal()" class="cart">-->
  <!--<h4>Cart</h4>-->
  <!--<img class="cartImg" src="../../assets/images/cart.png" width="50px">-->
  <!--<label id="cart" class="total">Total price: 0.0</label>-->
<!--</div>-->
<button (click)="printStuff()" class="cart">
  <h4>Cart</h4>
  <img class="cartImg" src="../../assets/images/cart.png" width="50px">
  <label id="cart" class="total">Total price: 0.0</label>
</button>
