<div *ngFor="let item of this.global.groceryItems">
  <div *ngIf="item.name.toString().includes('anana')" class="column card oneFifth">
    <img src="{{item.image}}" alt="" height="200">
    <div class="container">
      <h4><b>{{item.name}}</b></h4>
      <p class="price">{{item.price | currency}}</p>
      <p>{{item.description}}</p>
      <p>
        <button (click)="addToCart(item)">Add to Cart</button>
      </p>
    </div>
  </div>
</div>
